.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  height: 600px;
  overflow: scroll;
}

.row {
  display: flex;
  flex: 1 0 100px;
}

.cell {
  display: flex;
  flex: 1 0 100px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}

.perimiter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  touch-action: none;
}

.perimiter__inner {
  position: fixed;
  border: 1px solid red;
  top: 50px;
  left: 50px;
  right: 50px;
  height: 500px;
}
